body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: #313131;
    /* Set text color for better visibility on the background image */
}

.navbar {
    background-color: rgba(51, 51, 51, 0.8);
    /* Semi-transparent black background for the navbar */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    background-color: rgba(85, 85, 85, 0.8);
    /* Darker semi-transparent background on hover */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background for content */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    /* Text color for content */
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #555;
}

.car-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.car {
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.car img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car h3 {
    margin: 10px;
}

.car p {
    margin: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #333;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .car {
        width: 100%;
    }
}